# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3


    - name: Compose container
      run: docker compose -f ./docker/docker-compose.yaml up -d

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Set env variables
      run: echo "Setting env variables"
      env:
        DATABASE: ${{ vars.DATABASE }}
        DATABASE_ADDR: ${{ vars.DATABASE_ADDR }}
        DATABASE_PASSWORD: ${{ vars.DATABASE_PASSWORD }}
        DATABASE_USER: ${{ vars.DATABASE_USER }}

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test ./...
